@page "/counter"
@using BlazorCurrentDevice;

@inject IJSRuntime jsRuntime
@inject IBlazorCurrentDeviceService blazorCurrentDeviceService

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button id="vibration-button" class="btn btn-primary" @onclick="VibrateAsync">Click me for vibration</button>

<style>
    #vibration-button{
        visibility: @visibility;
    }
</style>

@code {
    private const string ANDROIN_OS = "android";
    private const string IOS_OS = "ios";
    private const string VISIBLE = "visible";
    private const string HIDDEN = "hidden";
    private string visibility = VISIBLE;

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private async Task VibrateAsync()
    {
        await jsRuntime.InvokeVoidAsync("vibrate", 200);
    }

    protected override async Task OnInitializedAsync()
    {
        var os = await blazorCurrentDeviceService.OS();

        if (os is ANDROIN_OS || os is IOS_OS)
        {
            visibility = VISIBLE;
        }
        else
        {
            visibility = HIDDEN;
        }
    }
}
